@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-path-style {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 88%,
      96% 85%,
      90% 100%,
      83% 92%,
      72% 95%,
      58% 88%,
      44% 99%,
      27% 87%,
      18% 96%,
      3% 90%,
      0% 93%
    );
  }

  .clip-path-style-sm {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 95%,
      95% 94%,
      90% 98%,
      83% 94%,
      73% 96%,
      50% 95%,
      40% 97%,
      30% 94%,
      20% 95%,
      5% 93%,
      0% 95%
    );
  }
}

@layer base {
  @font-face {
    font-family: "inter";
    font-weight: 600;
    src: url(/src/asset/fonts/Inter-Bold.ttf) format("ttf");
  }
  @font-face {
    font-family: "wonderland";
    font-weight: 400;
    src: url(/src/asset/fonts/Wonderland.otf) format("otf");
  }
}
